{{extend 'layout1.html'}}
<style>
#rashi
{
color: #FFFFFF;
}
#option
{
color: #FFFFFF;
}
div
{
color: #FFFFFF;
}
#timer{
float: right;
}
#abc
{
display: none;
}
</style>
<script>
function do_last_original(){
document.getElementById("pause").style.display = "none";
document.getElementById("next").style.display = "none";
document.getElementById("click").style.display = "inline";
}
function show_continue(){
document.getElementById("continue").style.display = "inline";
document.getElementById("pause").style.display = "none";
}
function hide_continue(){
document.getElementById("continue").style.display = "none";
document.getElementById("pause").style.display = "inline";}
function do_change(){
document.getElementById("pause").style.display = "inline";
document.getElementById("next").style.display = "inline";
document.getElementById("click").style.display = "none";
document.getElementById("skip").style.display = "none";}

function do_last_change(){
document.getElementById("click").style.display = "none";
document.getElementById("skip").style.display = "none";}

function do_last_change_replay(){
document.getElementById("click").style.display = "none";
document.getElementById("skip").style.display = "none";}

function do_original(){
document.getElementById("pause").style.display = "none";
document.getElementById("next").style.display = "none";
document.getElementById("click").style.display = "inline";
document.getElementById("skip").style.display = "inline";
}
function take_end()
{
   var s=document.getElementById("target1").innerHTML;
var p = s.match(/\d+/g);
var m = parseInt(p);
if (m<4)
{
	var a="Your performance is very poor. You need to improve a lot if you want to master this topic."
}
else if(m<8)
{
	var a="Your performance is somewhat average. There is still scope for improvement. You were still unable to pass this level."
}
else if(m<10)
{
	var a="Congratulations!!!! =D You have passed the level!! Make sure to play the next level!"
}
else if(m==10)
{
	var a="Wow!! Perfect Score!! You are a master in this topic!! #RESPECT"
}
   bootbox.dialog({
	message: "<div style='color:green'>"+s+"<br>"+a+"</div>", 
	title: "<div style='color:red'>" + "Your performance" + "</div>",
	buttons: {
	success: {
	label: "Scoreboard",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='scoreboardg')}}';
	}
	}
	}
});
}
</script>
<script>
var now=0;
function stimer(){
now++;
var x=document.getElementById("abc");
x.value=now;
if (now<60)
{
document.getElementById("sec").innerHTML=now;
document.getElementById("min").innerHTML=0;
}
else
{
document.getElementById("sec").innerHTML=now%60;
document.getElementById("min").innerHTML=(now-now%60)/60;
}
t = setTimeout(function(){stimer()},1000);
  $("#pause").click(function() {
      clearTimeout(t);
    });
}
$(document).ready(function(){
stimer();
$("#continue").click(function() {
      stimer();
    });
});
</script>
<div id="container">
<h3 id="rashi"><div id="question">{{=question}}</div></h3>
<b><p id="option"><input type="radio" name="op" value="1" checked><span id="op1"> {{=op1}}</span></input><br><br>
<input type="radio" name="op" value="2"><span id="op2">{{=op2}}</span></input><br><br>
<input type="radio" name="op" value="3"><span id="op3">{{=op3}}</span></input><br><br>
<input type="radio" name="op" value="4"><span id="op4">{{=op4}}</span></input><br><br>
</p><b>
<INPUT type="button" id="click" value="Submit"
onclick="ajax('echog1', ['op'], ':eval')"/>

<INPUT type="button" class="hide" id="next" value="Next"
onclick="ajax('nextg1', ['op'], ':eval')"/>
<INPUT type="button" class="hide" id="pause" value="Pause"
onclick="show_continue()"/>
<INPUT type="button" id="skip" value="Skip"
onclick="ajax('nextg1', ['op'], ':eval')"/>
<INPUT type="button" id="continue" class="hide" onclick="hide_continue()" value="Continue"/>
<INPUT type="button" id="end" value="End" onclick="ajax('storeg1', ['abc'], ':eval')"><br>
<div id="target"></div>
<div id="correctans"></div>
<div id="target1">Your score: 0</div>
</div>
<h3><div id="timer"><span id="min">0</span>m <span id="sec">0</span>s </div></h3>
<INPUT type="text" id="abc" class="hide" name="abc" value="0"/><br><br>




