{{extend 'layout1.html'}}
<script>
$(document).ready(function(){
  
   bootbox.dialog({
	message: "Brace Yourselves, You have 20 minutes to solve..." +"<br>"+ "<b>" + "Don't click on refresh button in between the quiz" + "</b>" +"<br>" +"Once you are done...Click on start",
	title: "Are u ready???",
	buttons: {
	success: {
	label: "Start",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='lev1')}}';
	}
	}
	}
});
  
});
</script>
{{=m}}
