{{extend 'layout1.html'}}
<style>
#rashi
{
color: #FFFFFF;
}
#option
{
color: #FFFFFF;
}
div
{
color: #FFFFFF;
}
#timer{
float: right;
}
#abc
{
display: none;
}
</style>
<script>
function do_change(){
document.getElementById("pause").style.display = "inline";
document.getElementById("next").style.display = "inline";
document.getElementById("click").style.display = "none";
}

function do_last_change(){
document.getElementById("nextlevel").style.display = "inline";
document.getElementById("replay").style.display = "inline";
document.getElementById("click").style.display = "none";
document.getElementById("quit").style.display = "inline";
document.getElementById("skip").style.display = "none";}

function do_last_change_replay(){
document.getElementById("replay").style.display = "inline";
document.getElementById("click").style.display = "none";
document.getElementById("quit").style.display = "inline";
document.getElementById("skip").style.display = "none";}

function do_original(){
document.getElementById("pause").style.display = "none";
document.getElementById("next").style.display = "none";
document.getElementById("click").style.display = "inline";
document.getElementById("skip").style.display = "inline";
}
function take_end()
{
window.location.href = '{{=URL(r=request,f='index')}}';
}
</script>
<script>
var now=0;
function stimer(){
now++;
var x=document.getElementById("abc");
x.value=now;
if (now<60)
{
document.getElementById("sec").innerHTML=now;
document.getElementById("min").innerHTML=0;
}
else
{
document.getElementById("sec").innerHTML=now%60;
document.getElementById("min").innerHTML=(now-now%60)/60;
}
t = setTimeout(function(){stimer()},1000);
  $("#pause").click(function() {
      clearTimeout(t);
    });
}
$(document).ready(function(){
stimer();
$("#continue").click(function() {
      stimer();
    });
});
</script>
<div id="container">
<h3 id="rashi"><div id="question">{{=question}}</div></h3>
<b><p id="option"><input type="radio" name="op" value="1" checked><span id="op1"> {{=op1}}</span></input><br><br>
<input type="radio" name="op" value="2"><span id="op2">{{=op2}}</span></input><br><br>
<input type="radio" name="op" value="3"><span id="op3">{{=op3}}</span></input><br><br>
<input type="radio" name="op" value="4"><span id="op4">{{=op4}}</span></input><br><br>
</p><b>
<INPUT type="button" id="click" value="Submit"
onclick="ajax('echot1', ['op'], ':eval')"/>

<INPUT type="button" class="hide" id="next" value="Next"
onclick="ajax('nextt1', ['op'], ':eval')"/>
<INPUT type="button" class="hide" id="pause" value="Pause"
onclick=""/>
<INPUT type="button" id="skip" value="Skip"
onclick="ajax('nextt1', ['op'], ':eval')"/>
<INPUT type="button" class="hide" id="nextlevel" value="Next level"
onclick="location.href='{{=URL(r=request,f='levt2')}}'"/>

<INPUT type="button" class="hide" id="quit" value="Quit"
onclick="location.href='{{=URL(r=request,f='index')}}'"/>

<INPUT type="button" class="hide" id="replay" value="Replay"
onclick="location.href='{{=URL(r=request,f='levt1')}}'"/>
<INPUT type="button" id="continue" value="Continue"/>
<INPUT type="button" id="end" value="End" onclick="ajax('storet1', ['abc'], ':eval')">
<br>
<div id="target"></div>
<div id="correctans"></div>
<div id="target1">Your score: 0</div>
</div>
<h3><div id="timer"><span id="min">0</span>m <span id="sec">0</span>s </div></h3>
<INPUT type="text" id="abc" class="hide" name="abc" value="0"/><br><br>




