{{extend 'layout1.html'}}
<script>
$(document).ready(function(){
  $("#start").click(function(){
   bootbox.dialog({
	message: "<b>" + "Read the instructions carefully "+"</b>"+"<br>" + "1. Quiz consists of 10 multiple choice questions each of 1 point and with only "+ "<span style='color:red'>" + "<b>" + "one" + "</b>" + "</span>"+" correct answer." + "<br>" + "2. To go to the next level, you have to answer atleast 8 questions correct." + "<br>" + "3. You have the liberty to pause the quiz but only after answering the question displayed on the screen." + "<br>" + "4. You can also end the quiz whenever you want" + "<br>"+"5. Ranklist will be prepared on the basis of your score followed by the time taken.", 
	title: "<div style='color:red'>" + "Are u ready???" + "</div>",
	buttons: {
	success: {
	label: "Start",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='levg1')}}';
	}
	}
	}
});
  });
});
</script>
<INPUT type="button" value="level1" id="start"
/>
<INPUT type="button" value="level2"
onclick="location.href='{{=URL(r=request,f='lev2')}}'"/>
<INPUT type="button" value="level3"
onclick="location.href='{{=URL(r=request,f='lev3')}}'"/>
